.article {
    max-width: 1000px;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 20px auto;
    }
    
    .article__paragraph {
    color: rgba(136, 43, 43, 0.87);
    }
    
    .article__paragraph--highlighted {
    color: rgb(159, 34, 34);
    }